#clockcontainer{
    position: relative;
  margin: auto;
  border: 3px solid chartreuse;
  border-radius: 3px;
    height: 45vw;
    width: 45vw;
background: url(clock.png) no-repeat;
background-size: 100%;

}
#hour, #minute, #second{
    position: absolute;
   transform-origin: bottom;
    border-radius: 10px;
    background:black ;
    

}
#hour{
    height: 28%;
    width: 1.3%;
    top: 22%;
    left: 49.5%;
    opacity: 0.8;
   
   



}
#minute{
    height: 31%;
    width: 1.5%;
    top: 19%;
    left: 49.5%;
    opacity: .8;
 
    
   


}
#second{
    height: 34%;
    width: 1.36%;
    top: 16%;
    left: 49.5%;
    opacity: .8;
    background: cyan;
 
  





}